@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
*{
    font-family: 'Press Start 2P', monospace;
}

body {
    /* background-color: #ede4ff; */
    background-image: url('../images/8-bit-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.games-container{
    margin-top: 40px;
    gap: 20px;
}

.game-div {
    background-color: whitesmoke;
    border: 4px solid #646363; 
    box-shadow: 4px 4px 0px #3a3a3a, 8px 8px 0px #1a1a1a; 
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
    margin: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-transform: uppercase;
    image-rendering: pixelated;
    transition: all 0.1s ease-in-out;
}

.game-div img {
    image-rendering: pixelated;
    width: 80%;
}

.game-div:hover {
    transform: translateY(-4px);
    background-color: whitesmoke; 
    border-color: #3a3a3a;
    box-shadow: 4px 4px 0px #1a1a1a, 8px 8px 0px #000000; 
}

.game-div:active {
    transform: translateY(2px);
    background-color: #dfdede;
    border-color: #2a2a2a;
    box-shadow: 2px 2px 0px #1a1a1a, 4px 4px 0px #000000;
}

.valanglis-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.valanglis-logo {
    margin-top: 40px;
    width: 300px;
    height: auto;
}